<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>To Do List</title>
</head>
<body>

	<div class="box" id="heading">
		<h1><%=  listTitle %></h1>
	</div>

	<div class="box">
		<% newListItem.forEach(item => {  %>
			<div class="item">
				<input type="checkbox">
				<p><%= item %></p>
			</div>
		<% }) %>

		<form class="item" action="/" method="post"> 
			<input type="text" name="item" placeholder="New Item" autocomplete="off">
			<button type="submit" name="list" value="<%= listTitle %>"> + </button>
		</form>

	</div>
	
</body>
</html>